* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.card-header {
    padding: 20px 0;
}

.card-header p{
    font-size: 2rem;
}

.tab {
    display: flex;
    border-radius: 15px;
    margin: 20px 0;
    border: 1px solid #484848;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.column-header {
    padding: 15px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #484848;
}

.column-header p{
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-flow: column;
    gap: 10px 0;
    padding: 10px 20px;
}