<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Méteo</title>
</head>
<body>
    <div class="container center">
        <h1>Méteo</h1>
        <div class="card">
            <div class="card-header">
                {% for title in titles %}
                    <p>{{title}}</p>
                {% endfor %}
            </div>
            <div class="row">
                {% for meteo in meteo_tomorrow %}
                    <div class="row-content">
                        {{meteo.getInfos(meteo)}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                {% for title in titles %}
                    <p>{{title}}</p>
                {% endfor %}
            </div>
            <div class="row">
                {% for meteo in meteo_after_tomorrow %}
                     <div class="row-content">
                        {{meteo.getInfos(meteo)}}
                    </div>
                 {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>