* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.card {
    border: 1px solid #484848;
    border-radius: 15px;
    margin: 30px 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: #3700b3;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #fff;
    padding: 15px;
    gap: 30px;
}

.card-header p{
    font-size: 20px;
}

.row-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.row-content p {
    font-size: 18px;
}

.row {
    display: flex;
    flex-flow: column;
}

.card p {
    width: 10%;
    text-align: center;
}

